.recovery-home-btn-cont {
    width: 70%;
    margin: auto !important;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.out-for-repo-table {
    width: 98%;
    margin: auto;
    padding-top: 2%;
}

.new-repo-form {
    padding-top: 2%;
    width: 60%;
    margin: auto;
    text-align: left;
}

.new-repo-btns {
    text-align: center;
}

/* COLOR STYLING FOR THE AMOUNT OF DAYS OUT */
.green-repo-style {
    background: #238823;
    font-weight: bold;
}

.yellow-repo-style {
    background: #FFBF00;
    font-weight: bold;
}

.red-repo-style {
    background: #D2222D;
    font-weight: bold;
    color: white;
}

.pointer {
    cursor: pointer !important;
}
