.recovery-home-btn-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.out-for-repo-table {
    width: 98%;
    margin: auto;
    padding-top: 2%;
}

.new-repo-form {
    padding-top: 2%;
    width: 60%;
    margin: auto;
    text-align: left;
}

.new-repo-btns {
    text-align: center;
}

/* COLOR STYLING FOR THE AMOUNT OF DAYS OUT */
.green-repo-style {
    background: #21ba45;
    font-weight: bold;
}

.yellow-repo-style {
    background: #ffe21f;
    font-weight: bold;
}

.red-repo-style {
    background: red;
    font-weight: bold;
    color: white;
}
