.skip-table-hdr {
    padding: 1%;
}

.skip-trace-table {
    width: 80%;
    margin: 0% 10%;
}

/* SKIP SHOW PAGE CSS */
.skip-container {
    width: 70%;
    margin: auto !important;
}

.skip-user-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: bold;
    margin-bottom: 1%;
}
