.recovery-search-button-cont {
    width: 60%;
    margin: auto !important;
    text-align: left;
}

.results-card-container p {
    font-weight: bold;
}

.results-card-container p span {
    font-weight: 400;
    display: block;
}

.regular-search-header p {
    font-weight: bold;
}

.regular-search-form {
    width: 60%;
    margin: auto !important;
    padding-top: 2%;
}

.regular-results-conts {
    width: 95%;
    margin: auto !important;
    height: 65vh;
    overflow: auto;
}


/* STYLING FOR RESULTS CONTAINERS. */
.results-card-container {
    text-align: left !important;
}

/* REPO INFORMATION SECTION */

.results-repo-section .results-repo-main-section {
    display: grid;
    grid-template-columns: repeat(5, auto);
}


/* SOLD INFORMATION SECTION */
.results-sold-section {
    padding-top: 2%;
}

.results-auction-section div:first-of-type {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

/* AUCTION INFORMATION SECTION */
.results-auction-section {
    padding-top: 2%;
}