.menu-container{
    display: grid;
    justify-items: center;
}
.adminMenu {
    width: 70vw !important;
    margin: auto !important;
}



/* Manage Users Page ! */
.user-page-container {
    /* border: 5px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1vh;
    justify-items: center;

    padding: 1vh 1vw;
}

.user-record-container p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2vh;
}

.user-edit-form-container {
    /* border: 3px solid red; */
    width: 45vw;
}

.user-edit-form-container h1 {
    margin-bottom: 10%;
}


/* PTP Tracker Page ! */
.filter-bar-container {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    align-items: center;
}

.filter-bar-container button {
    margin-top: 8% !important;
}

/* PTP Manager Page ! */
#search-by-bar {
    width: 50%;
    margin: auto !important;
}

.ptp-manager-filter-bar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-column-gap: 1vh;
    margin: 2% 5%;
}

.ptp-manager-filter-bar button {
    margin-top: 1vh !important;
}

.dates label {
    margin-right: .6vw !important;
}

.select-all {
    margin-right: 5% !important;
}

.select-all-chbox {
    width: 40px;
    height: 10px;
}

.records-form-container {
    display: grid;
    grid-template-columns: 85% 15%;
}

.records-form-container .segment {
    height: 80vh;
    margin-left: 5%;
    overflow: auto;
}

.re-assgin-form-container {
    margin-top: 0 !important;
    margin-right: 5% !important;
}

.re-assgin-form-container button {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.reassign-form {
    width: 70%;
    margin: auto !important;
}

.selected-ptps-div {
    padding: 1vh !important;
    margin: auto !important;
    margin-bottom: 2vh !important;
}